@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
 
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
nav{
    height: 70px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    position: fixed;
    flex-direction: column;


}
.navber{
    height: 70px;
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.navlogo{
    height: auto;
    width: 110px;
    display: flex;
    margin-left:100px ;
    margin-right:20px ;
    cursor: pointer;cursor: pointer;
    align-items: center;
}
.allMenu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 95%;

}
.Menu{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    width: 85%;
    margin-right: 10px;
}
.Menu1{
    
    display: none;
}
.Menu1 li{
    font-size: 40px;
    display: none;
}
.Menu li{
    list-style: none;
    color: black;
    margin-left: 25px;
    margin-right: 20px;
}
.Menu li a{
    text-decoration: none;
    font-weight:500;
    font-size: 0.95rem;
    color: black;
}
  .navbutton i{
    display: none;

 }

#bu{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 0.85rem;
    height: 35px;
    width: 95px;
    border-radius: 5px;
    
    background-color: rgb(65, 128, 255);
}
#bu:hover{
    background-color: rgb(0, 85, 255);
    transition: 0.5s;
}
section{
    height: 720px;
    width: 100%;
    display: flex;
    align-items: center;
}

.fullmain{
    height: 510px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.main{
    height: 510px;
    width: 80%;
    display: flex;

    justify-content: space-evenly;
}
.main1{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.main1 span{
    color:rgba(24,147,247,1);
}

.main1 div img{
    height: auto;
    width: 95%;
}
#bu1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 0.95rem;
    height: 40px;
    width: 155px;
    border-radius: 5px;
    background-color: rgb(65, 128, 255);

}
.main2{
    height: 100%;
    width: 60%;
}
.main2 video{
    height: 100%;
    width: 100%;

}
/* hero section end */
.sec1{
    height: 518px;
    width: 100%;
    background-color: rgb(10, 1, 32);
    background: radial-gradient(100.46% 100.75% at 2.43% 5.66%, #1101468e 0%, #0b022900 47.21%, #0b022900 100%), 
    radial-gradient(30.26% 50.1% at 100.02% 40.88%, #26002775 0%, #0b022900 100%), 
    linear-gradient(117deg, #03050E 0%, #030616 100%);
    background-blend-mode: normal, screen, normal;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.secmain1{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

}

.t1{
    background-color: red;
    background-image: linear-gradient(92deg,#217ee6 3%,#3187d5 44%,#69a798 70%,#fcf2a6 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center !important;
    font-size: 4.5rem;
}
.t1o{
    color: #ffffff;
    font-size: 3.5rem;
    text-align: center !important;
}
.net1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.sec2{
    height: 558px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}



.sec3{
    height: 518px;
    width: 100%;
    background-color: #F2F2F2;
    
}
.main1o{
    height: 100%;
    width: 50%;
}
.main1o video{
    height: 100%;
    width: 100%;
}
.main2o{
    height: 100%;
    width: 40%;
    margin-top: 40px;
    text-align: end; 
}
.boldtext{
    font-size: 3.37rem;
    font-weight: 600;
    
}
.textpre{
    font-size: 1.37rem;

}

.main3o{
    height: 100%;
    width: 40%;
    margin-top: 40px;
    
}
.main30o{
    height: auto;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    
}
.main30o img{
    height: 510px;
    width: 510px;
}
.main30o video{
    height: 100%;
    width: 100%;
}


/* main end */

.Blogsec{
    height: 570px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blogmain{
    height: 570px;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.blogtitle p{
    font-size: 3.3rem;
}
.blogmainpage{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.blogdotall{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.blog1{
   height: 99%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}
.img1 {
    height:70% ;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img1 img{
    height: 200px;
    width: 350px;
    border-radius: 5%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.224) ;
}
.blogtext{
    margin-left: 5px;
}

/* end */


.sec4{
    height: 350px;
    width: 100%;
    background-color: rgb(239, 239, 239);
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec4 div{
    height: 96%;
    width: 60%;
}
.sec4 h1{
    font-size: 4.2rem;
}
.sec4 p{
    font-size: 1.3rem;
}
.sec4 img{
    height: 100px;
    width: auto;
}
.sec5{
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec5row{
    height: 93%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.sec5row h1{
    font-size: 4.5rem;
    text-align: center;
}
.sec5row p{
    font-size: 1.2rem;
    text-align: center;
}
.sec5img{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.sec5img img{
    height: 110px;
    margin-left: 5px;
    margin-right: 5px;
}
.sec5img div{
    height: 130px;
    width: 290px;
    background-color: #696969;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec5img img:hover{
    height: 130px;
    width: 290px;
    transition: 0.7s; 
}

/* footer */
footer{
    height: 1200px;
    width: 100%;
    background-color: #00041e;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.footermain1{
    height: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}


.footer5{
    height: 270px;
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    
    
}
.footer5 .logo2{
    width: 100px; 
}
.love{
    height: 80px;
    width: 490px;
    border-radius: 50px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foottext1{
    height: 50px;
    width: 40%;

    margin-top: 40px;
}

.foottext{
    color: white;
    text-align: center;

}

.footermain2{
    height: 300px;
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;

}
.footer1{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.socialicon img{

    margin-top: 30px;
   margin-left: 10px;
   margin-right: 10px;

}
#img4{
    margin-top: 10px;
    width: 400px;
}
.security{
    height: 70px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.security img{
    height: auto;
    width: 60px;
}



.footermain3{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footermenu{
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    
}

.fmenu1{
    height: 95%;
    width: 31%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.linktext{
    height: auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    
   
}
.linktext p{
    color: #217ee6;
    margin-top: 5px;
    font-size: 1.1rem;
}
.linktext p a{
    color: #217ee6;
    margin-top: 5px;
    font-size: 1.1rem;
}
.fmenu2{
    height: 95%;
    width: 30%;
    
}
.fmenu3{
    height: 95%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: end;
}